ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

ConnectionStrings__DefaultConnection=Host=satheesh-postgres-sql.postgres.database.azure.com;Port=5432;Database=postgres;Username=satheeshm416;Password=Mobile@1389;SSL Mode=Require;Trust Server Certificate=true

Jwt__Issuer=pft-api
Jwt__Audience=pft-frontend
Jwt__Secret=replace-with-a-long-random-secret-at-least-32-characters
Jwt__AccessTokenMinutes=15
Jwt__RefreshTokenDays=7

Cors__AllowedOrigins__0=https://orange-pond-020d46f00.6.azurestaticapps.net
Cors__AllowedOrigins__1=https://orange-pond-020d46f00.6.azurestaticapps.net
Database__ApplyMigrationsOnStartup=true

Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.AspNetCore=Warning
